# Compiled object files and libraries
*.o
*.a

# target path
/libs
/bin

# QT creator project files
shm_table.config
shm_table.creator
shm_table.creator.user
shm_table.files
shm_table.includes

# vim buffer file
*~
